@charset "utf-8";
/* CSS Document */
body{
	height:100%;
	background-color:#F2F2F2;
}

#log {
	border-top-right-radius:5px;
}
#content{
	background-color:#FFF;
	height:70%;
	width:70%;
	margin:auto;
	padding:0 15px;
	border: 0px solid #0041F3;

}
#about{
	text-align:justify;
}
#content img{
	float:left;
}
#content h3{
	margin:0 0;
	padding:15px 0;
	text-align:center;
}